@model Books.Models.Book

@{
    ViewBag.Title = "Books on the shelf";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    ul{
        padding: 0px;
    }
</style>

<h2>@ViewBag.Title</h2>
<div class="list-group-item book">
    <h3 class="display-4 font-weight-bold ">@Model.Title</h3>
    <ul class="p-0">
        <li class="list-unstyled">Author: @Model.Author</li>
        <li class="list-unstyled">Genre: @Model.Genre</li>
        <li class="list-unstyled">Publish year: @Model.Year</li>
        <li class="list-unstyled">Book Number: @Model.BookNumber</li>
        <li class="list-unstyled">Book ID: @Model.Id</li>
    </ul>
</div>
<div class="list-group-item book">
    <h3 class="display-4 font-weight-bold ">@Model.Title</h3>
    <ul class="p-0">
        <li class="list-unstyled">Author: @Model.Author</li>
        <li class="list-unstyled">Genre: @Model.Genre</li>
        <li class="list-unstyled">Publish year: @Model.Year</li>
        <li class="list-unstyled">Book Number: @Model.BookNumber</li>
        <li class="list-unstyled">Book ID: @Model.Id</li>
    </ul>
</div>

